@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #18191a;
    --sidebar-color: rgba(255, 255, 255, 0.1);
    --primary-color: #03ade2;
    --primary-color-light: #ccc;
    --toggle-color: white;
    --toggle1-color:rgb(197, 196, 196);
    --text-color: white;
    --title-color: white;
    --text_sub-color: white;
    --submenu-color: rgba(255, 255, 255, 0.1);
    --submenu-color1: #03ade2;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 18px;
}

body.dark{
    --body-color: #e4e9f7;
    --sidebar-color: rgba(0, 0, 0, 0.2);
    --primary-color: #003285;
    --primary-color-light: #f6f5ff;
    --toggle-color: #bababa;
    --toggle1-color:rgb(197, 196, 196);
    --text-color: white;
    --title-color: white;
    --text_sub-color: white;
    --submenu-color: rgba(0, 0, 0, 0.2);
    --submenu-color1: #003285; 
}

.icon{
    font-size: 30px;
    margin-top: 10px;
}
.modelbtn {
    margin-bottom: 10px;
}
.mode-btn {
    margin-bottom: 10px;
}
.bxs-shapes {
    margin-top: 0px;
}

.btn.click span:before {
    content: '\f00d';
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 380px;
    background: var(--sidebar-color);
    transition: left 0.4s ease;
    margin-top: 120px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul li {
    /* line-height: 58px; */
    position: relative;
    list-style: none;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}

nav ul li a{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav ul li a .text,
nav ul li a .mode-text{
    position: absolute;
    left: 70px;
    top: 30%;
    border-radius: 4px;
    color: var(--text-color);
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
}
nav ul li a:hover .mode-text,
nav ul li a:hover .text{
    left: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul li a .text::after{
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: transparent;
    z-index: -1;
}

nav ul li.active a {
    color: var(--primary-color);
}

nav ul li.active a span {
    color: var(--primary-color);
}
nav ul li a:hover .icon {
    color: var(--primary-color);
}

/* sub menu */
nav ul ul {
    position: absolute;
    display: none;
    left: 70px;
    width: 120px;
    background-color: transparent;
}

nav ul ul li {
    line-height: 42px;
}

nav ul ul li a {
    font-size: 14px;
    font-weight: 600;
    color: var(--submenu-color);
}

nav ul li.active ul li a {
    color: var(--text_sub-color);
    background:var(--submenu-color);
}
nav ul li.active ul li.active a {
    color: var(--title-color);
    background: var(--submenu-color1);
}
nav ul ul li a:hover {
    color: var(--title-color) !important;
    /* background: var(--sidebar-color) !important; */
}




